# dependencies
node_modules/

# environment variables
.env

# build files
/build
/dist

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# temp files
tmp/
temp/
.cache/

# test coverage
coverage/
.vercel
.env*.local
